
/* General */
*{
    margin:0px;
    padding:0px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*direction:ltr ;*/
}

body {
    /*todo : change the background pattern to a cool one*/
    background-image:url('http://127.0.0.1:8000/images/pattern.png');
    background-color:white;
    text-align:center;
    color:white;
    font-weight:bold;
    font-family: cairo , sans-serif ;
    font-size:12px;
}

div {
    word-wrap: break-word;
}


/* Main */
.container {
    position:absolute;
    width:40% ;
    padding:20px 20px 20px 20px;
    min-width:300px;
    margin:auto;
    border:1px solid rgba(112, 112, 111,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    vertical-align: center;
}

.container-content {
    position:relative;
    margin:auto;
}

#waiting-menu {
    background-color: rgba(205, 45, 45, 0.6);
    height:200px ;
}

#connecting-menu {
    background-color: rgba(205, 45, 45, 0.6);
    height:200px ;
}


#ready-menu {
    background-color: rgba(205, 45, 45, 0.6);
    height:200px ;
}

#match-menu {
    margin-top:20px;
    background-color: rgba(205, 45, 45, 0.6);
    overflow-y:auto;
    position: relative;
    height: 100%;
}

.main-button {
    padding:10px 0px;
    border-radius:5px;
    width:50%;
    margin:auto;
    margin-top:20px;
    border:1px solid rgba(255, 255, 255, 0.66);
    min-width: 196px;
}

#admin-menu {
    background-color: rgba(45, 145, 205, 0.6);
    height:400px ;
}

#change-password-menu {
    background-color: rgba(205, 58, 192, 0.6);
    height:204px ;
}

#login-menu {
    background-color: rgba(79, 79, 48, 0.43);
    height:410px;
}

#show-questions-menu {
    background-color: rgba(61, 66, 163, 0.43);
    overflow-y: scroll;
    height:500px;
}

#show-questions-menu::-webkit-scrollbar-track
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;

}

#show-questions-menu::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;

}

#show-questions-menu::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #000000;

}

#admin-login-menu {
    background-color: rgba(45, 145, 205, 0.6);
    height:142px;
}

#student-login-menu {
    background-color: rgba(205, 45, 45, 0.6);
    height: 325px;
}

#watch-game-menu {
    background-color: rgba(205, 45, 45, 0.6);
    height:515px;
}

#add-question-menu {
    background-color: rgba(117, 192, 104, 0.6);
    height:455px;
}

#results-menu {
    background-color: rgba(205, 188, 34, 0.6);
    height:500px;
    overflow-y:scroll ;
}

#results-container {
    background-color: #eee4cf7a;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 10px -15px;
}

#results-menu::-webkit-scrollbar-track
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;

}

#results-menu::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;

}

#results-menu::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #000000;

}



/* Minor */

input {
    margin:3px;
    width:40%;
    height:25px;
    border-radius:6px;
    border:none;
    font-weight: bold;
    font-family: cairo , sans-serif ;
    padding:0px 10px;

}

input[type=submit] {
    margin-top:10px;
    width:30%;
    height:40px;
    background-color:#4CAF50;
    color:white;

}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text] {
    direction:ltr;
}

textarea {
    height:100px;
    width:80%;
    max-width:90%;
    border-radius:8px;
    border:none;
    font-weight: bold;
    font-family: cairo , sans-serif ;
    padding:0px 10px;
    direction:ltr;
}

select {
    margin-top:10px;
    width:40px;
    height:30px;
    border-radius:6px;
    font-weight:bold;
    font-family: cairo , sans-serif ;
    font-size:12px;
}

#uploadfile {
    display:none;
}

#browse-label {
    background-color: rgba(51, 94, 99, 0.76);
    padding: 5px 15px 10px 9px;
    margin: 20px;
    border-radius: 5px;
    position: relative;
    top: 10px;
}

#current-question-container {
}

table {
    border-collapse: collapse;
}

/* remove padding */
td, th {
    padding: 0;
}

#logos-table , #login-table , #questions-table {
    margin: 0 auto ;
}

.current-question-table {
    margin:  auto ;
    margin-top: -4px;
}


#role-table {
    margin: 0 auto ;
    margin-bottom:30px ;
}

#results-table {
    margin: 0 auto ;
    padding-top:30px;
}

#running-match-stats-table {
    margin: 0 auto ;
    padding-top:5px;
}

.running-match-stats-table-data {
    background: rgba(228,192,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(228,192,255,1) 0%, rgba(86,90,171,0.6) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(228,192,255,1)), color-stop(100%, rgba(86,90,171,0.6)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(228,192,255,1) 0%, rgba(86,90,171,0.6) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(228,192,255,1) 0%, rgba(86,90,171,0.6) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(228,192,255,1) 0%, rgba(86,90,171,0.6) 100%);
    background: radial-gradient(ellipse at center, rgba(228,192,255,1) 0%, rgba(86,90,171,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4c0ff', endColorstr='#565aab', GradientType=1 );
    padding: 0px 36px;
    border-radius: 15px;
    width: 40%;
}

#question-table-data {
    background: #8d1f095c;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.option-table-data {
    padding:10px;
    background: #f4e02b6e;
}

.option-table-data:hover {
    background: rgba(61, 66, 163, 0.68);
}

#option-data-table-1 {
    width: 50%;
    border-right: 1px solid #9c4a4a75;
    border-bottom: 1px solid #9c4a4a75;
}

#option-data-table-2 {
    width: 50%;
    border-bottom: 1px solid #9c4a4a75;
}

#option-data-table-3 {
    border-radius: 0px 0px 0px 10px;
    border-right: 1px solid #9c4a4a75;
}

#option-data-table-4 {
    border-radius: 0px 0px 10px 0px;
}

#points {
    background:#5947988c ;
    border-radius: 10px;
    margin-top: 5px;
}

#timer {
    border-radius: 59%;
    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background:     radial-gradient(at center center, rgb(144, 180, 46) 0%, rgb(255, 193, 193) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    padding: 15px;
    width: 76px;
    height: 69px;
    position: relative;
    margin: auto;
    top: 10px;
}

#question-image {
    border-radius:10px;
    margin-bottom: -12px;
}

th {
    padding:10px ;
}

#watch-game-button {
    background-color: rgba(204, 62, 62, 0.7);
}

#watch-game-button:hover {
    background-color: rgba(132, 40, 40, 0.77);
}


#change-password-button {
    background-color: rgba(142, 74, 163, 0.7);
}

#change-password-button:hover {
    background-color: rgba(107, 56, 123, 0.75);
}

#results-button {
    background-color:rgba(201, 204, 69,0.7);
    margin-bottom:15px;
}

#results-button:hover {
    background-color:rgb(143, 145, 52);
}

#show-questions-button {
    background-color: rgba(94, 80, 204, 0.7);
    margin-bottom:15px;
}

#show-questions-button:hover {
    background-color: rgb(80, 53, 163);
}

#add-questions-button {
    background-color:rgba(62, 204, 107, 0.7);
}

#add-questions-button:hover{
    background-color: rgba(44, 145, 76, 0.82);
}


#student-button {
    background-color: rgba(205, 45, 45, 0.6);
    height: 102px;
    width: 130px;
    min-width:100px ;
    margin-left: 10px;
}

#student-button:hover {
    background-color: rgba(147, 32, 32, 0.72);
}

#admin-button {
    background-color: rgba(45, 145, 205, 0.6);
    height: 102px;
    width: 100px;
    min-width:130px ;
    margin-right: 10px;
    /*margin-bottom:30px;*/
}

#admin-button:hover {
    background-color: rgba(40, 107, 157, 0.75);
}

.home-button {
    width:30px;
    height:30px;
    padding:4px 3.5px 3px 3px;
    background:rgba(256,256,256,0.5);
    border-radius:50%;
    position:absolute;
    top:10px;
    left:10px;
}
.home-button:hover {
    background-color:rgba(0,0,0,0.5);
}

.refresh-button {
    width:30px;
    height:30px;
    padding:4px 3.5px 3px 3px;
    background:rgba(256,256,256,0.5);
    border-radius:50%;
    position:absolute;
    top:10px;
    right:10px;
}

.refresh-button:hover {
    background-color:rgba(0,0,0,0.5);
}

.exit-button {
    width:32px;
    height:32px;
    padding:3px 3px 3px 3px;
    background: rgba(255, 32, 56, 0.5);
    border-radius:50%;
    position:absolute;
    top:10px;
    right:10px;
}

.exit-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/*todo: fix the message's width on mobile */
#message {
    height: 30px;
    width: 50%;
    min-width: 230px;
    border-radius: 10px;
    background-color: rgb(98, 64, 137);
    padding: 10px 4px 4px 4px;
    margin: 10px auto;
}

.role {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.question-container {
    background-color: rgba(139, 74, 155, 0.51);
    border-radius:20px ;
    margin:10px;
    padding-bottom:21px;

}

#questions-container {
    /*background-color: rgba(255, 27, 27, 0.27);*/
    border-radius:10px ;
    padding:10px 0px ;
}

.delete-button {
    background: #e43d3dbf;
    min-width: 60px;
}
#delete-button:hover {
    background: rgba(146, 39, 39, 0.8);
    min-width: 60px;
}




@media only screen and (max-device-width: 480px) {

    .option:hover {
        background-color: rgb(170, 123, 66);
    }

    .running-match-stats-table-data {
        padding:10px 30px ;
        border-radius: 15px;
        width: 100px;
    }

}

.option {
    padding: 10px 20%;
    margin:-10px ;
}

.current-option {
    background:red ;
    padding:10px ;
    margin:-10px ;
}

.user_state {
    padding-top: 7px;
}

.current-user {
    color: rgba(255, 255, 255, 0.66);
}


.winner-name {
    color:rgba(145,232,66,1);
}

.loser-name {
    color:#ff00006e;
}

#newChallengeButton {
    background: rgba(51, 94, 99, 0.76);
    color: white;
    text-decoration: none;
    width: 115px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}

#newChallengeButton:hover {
    background: rgba(42, 73, 77, 0.87);
}

#watch-match-question-counter {
    background: rgba(70,163,72,1);
    background: -moz-linear-gradient(-45deg, rgba(70,163,72,1) 0%, rgba(143,219,68,0.72) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(70,163,72,1)), color-stop(100%, rgba(143,219,68,0.72)));
    background: -webkit-linear-gradient(-45deg, rgba(70,163,72,1) 0%, rgba(143,219,68,0.72) 100%);
    background: -o-linear-gradient(-45deg, rgba(70,163,72,1) 0%, rgba(143,219,68,0.72) 100%);
    background: -ms-linear-gradient(-45deg, rgba(70,163,72,1) 0%, rgba(143,219,68,0.72) 100%);
    background: linear-gradient(135deg, rgba(70,163,72,1) 0%, rgba(143,219,68,0.72) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46a348', endColorstr='#8fdb44', GradientType=1 );
    width: 160px;
    height: 37px;
    margin: 17px auto 10px auto;
    border-radius: 15px;
    padding-top: 9px;
}

#last-game-result-container {
    padding: 10px 10px 20px 10px;
    background: #fffe006e;
    border-radius: 10px;
    margin-top: 0px;
    width: 80%;
    display: inline-block;
}

#best-result-container {
    background: #c13939d1;
    margin: 10px 0px;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    width: 80%;
    display: inline-block;
}